.account-rectangle{
    width: 453px;
    height: 64px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border: 2px solid #F5F6FA;
}
.account-image{
    width: 28px;
    height: 28px;
}
.account-content{
    width:130px;
    margin-left: 10px;
    color: #AAB0B7;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border:none;
}