.main-block{
    width: 286px;
    height: 330px;
    background-color: #FFF;
    filter: drop-shadow(0px 63px 50px rgba(67, 67, 68, 0.07));
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}
.icon-image{
    width: 80px;
    height: 80px;
}
.main-block h1{
    color: #333;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
}
.main-block h2{
    display: flex;
    width: 233px;
    height: 114px;
    flex-direction: column;
    color: #858A8F;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}